.header{
  
    align-items:center;
    background-color: #cff786;
}
.header a{
    display:flex;
    align-items:center;
    text-decoration:none;
    color: rgba(0, 0, 255, 0.61);
}

.header .logo{
    max-height: 32px;
    padding-left:20px;
}
.header .tittle-group i{
    padding-right:15px;
}
.header .tittle-group{
    padding-left:5px;
}
.header .material-icons{
    padding-left:120px;
    color: rgba(0, 0, 255, 0.61);
    
}
