@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');

.header{
    align-items:center;
    background-color: black;
    size: 700px;
}
.header a{
    font-Family: 'Montserrat', sans-serif;
    display:flex;
    align-items:center;
    text-decoration:none;
    color: #FF385C;
}

.header .logo{
    max-height: 32px;
    padding-left:20px;
}
.header .tittle-group i{
    padding-right:15px;
}
.header .tittle-group{
    padding-left:5px;
}
.header .material-icons{
    padding-left:20px;
    color: #FF385C;
    
}

.cadastro {
    align-content: flex-end;
    padding-left:1000px;
}