.home .title{
font-size: 3rem;
font-weight: 300;
line-height: 1.2;
}

.button{
    font-size: 1rem;
    font-weight: 100;
    padding-right: 10%;
    padding-top: 15px;
    color: #FF385C;
    position: absolute;
     right: 0 ;
  
}


.home .subtitle{
    font-size: 1.1rem;
    
}
.home{
margin-top: 1%;
margin-right: 50%;
}


