<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title"> 
        Bem vindo! 
 </mat-card-title>
    <mat-card-subtitle class="subtitle">

        <h2>Digite o Cep que gostaria de pesquisar</h2>
        
        <p><input type="text" id="cep" name="cep" #cep></p>
        
        <button type="button" (click)="getCep(cep.value)">Consultar</button>
        

    </mat-card-subtitle>

</mat-card>

<mat-card class="home mat-elevation-z3 ">
    <mat-card-title class="title"> 
       Busca por Rua
 </mat-card-title>
    <mat-card-subtitle class="subtitle">

        <h2>Digite a Rua que gostaria de pesquisar em "Porto Alegre"</h2>
        
        <p><input type="text" id="log" name="log" #log></p>        
        
        <button type="button" (click)="getRua(log.value)">Consultar</button>
        

    </mat-card-subtitle>

</mat-card>
