<div >
    <form class="FormLocatario"> 
       
            <label for="Endereco" ><strong> Endereço: </strong></label><br>
            Nome:    <input [(ngModel)]="usuario.nome" type="text" name="nome" value="" size="60" class="FormLocatario" placeholder="Nome"><br><br>
            idade:    <input [(ngModel)]="usuario.idade" type="number" name="idade" value="" size="60" class="FormLocatario" placeholder="0"><br><br>
            <label for="Telefone" ><strong> Telefone: </strong></label><br>
         Tel: <input [(ngModel)]="usuario.telefone" type="number" name="telefone" value="" size="58" class="FormLocatario" placeholder="Telefone"> <br><br>

            email:     <input [(ngModel)]="usuario.email" type="text" name="email" value="" size="61" class="FormLocatario" placeholder="joão@server.com"><br><br> 
            senha  <input [(ngModel)]="usuario.senha" type="text" name="senha" value="" size="58" class="FormLocatario" placeholder="Senha@123"><br><br>     
           <br>


           <button mat-raised-button (click)="postImovel()" >
            Salvar     
            </button>

            <button id="buttonCancel" mat-raised-button (click)="cancel()" >
                Cancelar    
                </button>
        </form>
</div>