<div >
    <form class="FormLocatario"> 
       
            <label for="Endereco" ><strong> Endereço: </strong></label><br>
            Nome:    <input type="text" name="nome" value="" size="60" class="FormLocatario" placeholder="Nome"><br><br>
            idade:    <input type="number" name="idade" value="" size="60" class="FormLocatario" placeholder="0"><br><br>
            <label for="Telefone" ><strong> Telefone: </strong></label><br>
            DDD: <input type="number" name="telefone" value="" size="1" class="FormLocatario" placeholder="DDD"> Tel: 
                 <input type="number" name="telefone" value="" size="58" class="FormLocatario" placeholder="Telefone"> <br><br>

            email:     <input type="text" name="email" value="" size="61" class="FormLocatario" placeholder="joão@server.com"><br><br> 
            senha  <input type="text" name="senha" value="" size="58" class="FormLocatario" placeholder="Senha@123"><br><br>     
           <br>
            <button type="button"  onclick="">
                Enviar
            </button>
        </form>
</div>
    
