
<mat-card>
        <mat-card-title>Cadastro de Usuario:</mat-card-title>
        <form>
          
          <mat-form-field>
            <input matInput placeholder="Nome" 
            [(ngModel)]="usuario.nome" name="name">
          </mat-form-field>

          <mat-form-field>
           <input matInput placeholder="Idade" 
            [(ngModel)]="usuario.idade" name="idade">
          </mat-form-field>

         <mat-form-field>
           <input matInput placeholder="Telefone" 
            [(ngModel)]="usuario.telefone" name="telefone">
         </mat-form-field>

         <mat-form-field>
            <input matInput placeholder="Email" 
            [(ngModel)]="usuario.email" name="email">
        </mat-form-field>

        <mat-form-field>
             <input matInput placeholder="Senha " 
            [(ngModel)]="usuario.senha" name="senha">
        </mat-form-field>
          
          </form>
          
              <button class="mat-raised-button" (click)="postUser()"  color="primary">
                Salvar    
              </button> 
          
              <button mat-raised-button (click)="cancel()" >
              Cancelar    
              </button>
          
          </mat-card>