.footer{
    position:fixed;
    bottom:0;
    background-color: dark;
    display:flex;
    justify-content:flex-end;
}

.strongNames{
    color: #FF385C;
}

.red{
    color: #FF385C;
}

.footer > span{

    font-size:0.9rem;
    font-weight: 300;
}