@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');

.warningCovid{
    font-Family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: large;
    color: black;
}

.titleCard{
    font-Family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: large;
}

.example-card {
    max-width: 400px;
  }
  
.example-header {
    background-size: cover;
}