 
 <div class="div-left">
  <mat-card>
    <mat-card-title>Cadastro De Imovel:</mat-card-title>
    <form class="form-left">


      <mat-form-field >
        <mat-label>Tem ar-condicionado?</mat-label>
        <mat-select [(ngModel)]="imovel.arCondicionado">
          <mat-option [value]="true">Sim</mat-option>
          <mat-option [value]="false">Não</mat-option>
        </mat-select>
      </mat-form-field>

       <mat-form-field>
           <input matInput placeholder="Quantidade de Camas de Solteiro:" 
           [(ngModel)]="imovel.camaSolteiro" name="camaSolteiro">
       </mat-form-field>

       <mat-form-field>
        <input matInput placeholder="Camas de Casal" 
        [(ngModel)]="imovel.camaCasal" name="camaCasal">
       </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Quantidade de Comodos:" 
    [(ngModel)]="imovel.quartos" name="quartos" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Descrição Detalhada</mat-label>
    <textarea matInput required
    [(ngModel)]="imovel.descricao" 
    ></textarea>
  </mat-form-field>


  <mat-form-field  floatLabel="always">
    <mat-label>Valor da Diária</mat-label>
    <input   [(ngModel)]="imovel.valorDaDiaria" matInput  class="example-left-align" placeholder="0">
    <span matPrefix>$&nbsp;</span>
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Telefone para Contato " 
    [(ngModel)]="imovel.telefoneProprietario" name="telefoneProprietario" required>
  </mat-form-field>
  
</form>

</mat-card>

</div>
<div clas="div-rigth">
  <mat-card>
    <mat-card-title>Endereço do Imovel:</mat-card-title>
    <form class="form-rigth">
      
      <mat-form-field>
        <input matInput placeholder="Cep " 
        [(ngModel)]="imovel.cep" name="cep" required>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Cidade " 
        [(ngModel)]="imovel.cidade" name="cidade" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Bairro " 
        [(ngModel)]="imovel.bairro" name="bairro" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="UF " 
        [(ngModel)]="imovel.uf" name="uf" required>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Rua " 
        [(ngModel)]="imovel.rua" name="rua" required>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Numero " 
        [(ngModel)]="imovel.numero" name="numero" required>
      </mat-form-field>
      
      
      <mat-form-field>
        <input matInput placeholder="Complemento " 
        [(ngModel)]="imovel.complemento" name="complemento" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="url da imagem (a ser usada no seu anúncio)" 
        [(ngModel)]="imovel.imagemURL" name="imagem" required>
      </mat-form-field>
      
      </form>
      
          <button class="mat-raised-button" (click)="postImovel()"  color="primary">
            Salvar    
          </button> 
      
          <button mat-raised-button (click)="cancel()" >
          Cancelar    
          </button>
      
      </mat-card>

</div>




