
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red{
    color:rgb(227, 94 ,107)
}
.v-middle{
vertical-align: middle;
}

.msg-succes{
    background-color: #e35e6b;
    color:#fff;
}
.msg-error{
    background-color: #e35e6b;
    color:#fff;
}
html, body { height: 100%; 
        background-image: url('https://previews.123rf.com/images/dimapolie/dimapolie1804/dimapolie180400085/98944776-vector-travel-pattern-travel-seamless-background.jpg');}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
